  @import url('https://fonts.googleapis.com/css2?family=Road+Rage&family=Roboto+Condensed:wght@300;400;700&family=Roboto+Serif&display=swap');
body{
    font-family: 'Roboto Condensed', sans-serif;
   
    /* Esto hace que el footer siempre este abajo */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex-grow: 1;
}
.border-article{
    border: 1px solid #C78A30;
}
.title-article{
    font-weight: bold;
    margin: 0.5rem 0 0 0;
}
.date-author{
    font-size: small;
}
.description-article{
    font-weight: lighter;
    font-size:medium;
}
.tag-comment{
    font-family: "Road Rage";
    color: #FFAF39;

}
.btn-more{
    border: 1px solid #C78A30;
    font-family: "Roboto Cdenconed";
}
.btn-more:hover{
    background-color: #C78A30;
    border:1px solid #C78A30;
    color: white;
}
@media (max-width: 767.98px) {
    
    #img-publ{
        display:none;
    }
}
.btn-search{
    background-color:#C78A30;
}
.font-Road{
    font-family: "Road Rage";
    font-size: 300%;
    color: #C78A30;
}
#list{
    
    list-style: none;
    font-weight: bold;
    font-size: large;
}
.container-category{
    height: 20%;
}
.page-item span{
    background-color: #C78A30;
    color: white;
}
.active-pag{
    background-color: white;
    color: black;
}

/* NAV */
header {
    z-index: 3;
}
.navbar{
    background-image: url(/img/banner.jpg);
    position: fixed;
    top: 0;
    width: 100%;
    color : #FFAF39;
    font-family: 'Road Rage', cursive;
    font-size: xx-large;
}
.navbar .navbar-collapse {
    text-align: center;
}
.nav-item:hover{
    text-shadow: black 10px -5px 2px;
    text-decoration: underline;
    font-size: 40px;
}

@media (min-width: 992px){
    .navbar {
        width: 100%;
        position: sticky;
        top: 0;
      }
    
}
.navbar-toggler {
background-color:#FFAF39;
}

/* ---------- */

/* GALERIA DE IMAGENES */
#blogTitle,
h2 {
    font-family: 'Road Rage', cursive;
    text-align: center;
}

#blogTitle {
    font-size: 390%;
}

#blogSub {
    font-size: 270%;
}

#blogText {
    font-size: 115%;
    line-height: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.commentText {
    font-family: 'Road Rage', cursive;
    font-size: 200%;
}

.buttonComment {
    width: 20%;
}

.buttonText {
    font-family: 'Road Rage', cursive;
    font-size: 150%;
    background-color: #c78a30;
    color: white;
}

.buttonText:hover {
    background-color: #ffaf39;
}

.articleCol2 {
    margin-bottom: 35px;
}

a {
    text-decoration: none;
}

#articleLink {
    text-align: center;
    color: black;
}

#articleLink:hover {
    color: #ffaf39;
}

form div {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.secondCol {
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    right: 15px;
    top: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

#formLine {
    opacity: 0;
    margin: 25px 0 0;
}

.secondCol::-webkit-scrollbar {
    display: none;
}

.sendButton {
        display: block;
    }
@media (max-width: 575.98px) {
    .sendButton {
        position: relative;
        right: 15px;
    }
}

@media (max-width: 575.98px) {
    #comment1,
    #comment2,
    #comment3,
    #comment4,
    #comment5 {
        position: relative;
        right: 10px;
        margin-right: -2px;
    }
}

@media (max-width: 575.98px) {
    #blogTitle {
        position: relative;
        margin: 0;
        padding: 0;
        right: 15px;
    }
}

/* --------------------------- */